<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/styles/style.min.css">
    <title>Admin home landing</title>
</head>

<body>
    <div id="hs-medium-modal"
        class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none">
        <div
            class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
            <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto">
                <div class="flex justify-between items-center py-3 px-4 border-b">
                    <h3 class="font-bold text-gray-800">
                        Add user
                    </h3>
                    <button type="button"
                        class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
                        data-hs-overlay="#hs-medium-modal">
                        <span class="sr-only">Close</span>
                        <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 6 6 18"></path>
                            <path d="m6 6 12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="p-4 overflow-y-auto">
                    <form action="" id="form-create-user">
                        <div class="max-w-sm">
                            <label for="name" class="block text-sm font-medium mb-2">Name</label>
                            <input type="text" id="name" name="name"
                                class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500"
                                placeholder="Your Name">
                        </div>
                        <div class="max-w-sm mt-4">
                            <label for="email" class="block text-sm font-medium mb-2">Email</label>
                            <input type="email" id="email" name="email"
                                class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                                placeholder="you@site.com">
                        </div>
                        <div class="max-w-sm mt-4">
                            <label for="phone" class="block text-sm font-medium mb-2">Phone</label>
                            <input type="tel" id="phone" name="phone"
                                class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500"
                                placeholder="Phone Number" required>
                        </div>
                        <div class="max-w-sm mt-4">
                            <label for="rfid-create-user" class="block text-sm font-medium mb-2">RFID Tag</label>
                            <select id="rfid-create-user" name="rfid_id"
                                class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500">
                                <option value="">Select RFID Tag</option>
                                <option value="rfid1">RFID Tag 1</option>
                                <option value="rfid2">RFID Tag 2</option>
                                <option value="rfid3">RFID Tag 3</option>
                                <!-- Add more options as needed -->
                            </select>
                        </div>

                    </form>
                </div>
                <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t">
                    <button type="button"
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                        data-hs-overlay="#hs-medium-modal">
                        Close
                    </button>
                    <!-- <button type="button"
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" data-role="save-button-create-user">
                        Save changes
                    </button> -->
                    <button type="button"
                        class="group py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                        data-role="save-button-create-user">
                        <div class="group-enabled:hidden animate-spin inline-block size-6 border-[3px] border-current border-t-transparent text-blue-600 rounded-full dark:text-blue-500"
                            role="status" aria-label="loading" x-show="this.disabled">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span class="group-disabled:hidden">Add user</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="max-w-4xl mx-auto mt-12 px-4">
        <header>
            <!-- Log out button -->
            <h1 class="font-bold text-2xl">Administrator Valve - RFID Door Lock Project</h1>
            <p class="font-light text-sm text-slate-500 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed aliquet ultricies justo, non efficitur
                libero pellentesque non. Phasellus quis vestibulum libero. Vivamus eu metus a nisi aliquet dapibus.</p>
            <button type="button"
                class="p-4 text-slate-600 hover:text-slate-800 hover:bg-slate-100 rounded-full"
                data-hs-overlay="#hs-medium-modal" data-role="button-logout">
                Logout
            </button>
        </header>
        <div id="separator-line" class="h-[1px] bg-slate-200 my-5"></div>
        <section>
            <div id="user-table-container">
                <div class="flex gap-2 items-center mb-2">
                    <h2 class="font-bold">Users</h2>
                    <button type="button"
                        class="py-1 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                        data-hs-overlay="#hs-medium-modal" data-role="button-add-user">
                        + Add new user
                    </button>
                    <div data-loading
                        class="animate-spin inline-block size-4 border-[3px] border-current border-t-transparent text-blue-600 rounded-full dark:text-blue-500"
                        role="status" aria-label="loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="-m-1.5 overflow-x-auto">
                        <div class="p-1.5 min-w-full inline-block align-middle">
                            <div class="border rounded-md overflow-auto max-h-[500px] relative">
                                <table class="min-w-full divide-y divide-gray-200 border-collapse">
                                    <thead
                                        class="bg-slate-50 sticky top-0 z-10 after:content-[''] after:block after:absolute after:-bottom-[0.5px] after:w-full after:border-b after:border-b-slate-200 after:z-20">
                                        <tr>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                                Name</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                                Email</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                                Phone</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                                RFID Tag</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                                Status</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">
                                                Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                        <!-- This is where the data resides -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="rfid-table-container" class="mt-7">
                <div class="flex gap-2 items-center mb-2">
                    <h2 class="font-bold">RFID Tags</h2>
                    <div data-loading
                        class="animate-spin inline-block size-4 border-[3px] border-current border-t-transparent text-blue-600 rounded-full dark:text-blue-500"
                        role="status" aria-label="loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="-m-1.5 overflow-x-auto">
                        <div class="p-1.5 min-w-full inline-block align-middle">
                            <div class="border rounded-md overflow-auto max-h-[500px] relative">
                                <table class="min-w-full divide-y divide-gray-200 border-collapse">
                                    <thead
                                        class="bg-slate-50 sticky top-0 z-10 after:content-[''] after:block after:absolute after:-bottom-[0.5px] after:w-full after:border-b after:border-b-slate-200 after:z-20">
                                        <tr>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                                Tag Id</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                                Last seen</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                                Status</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">
                                                Created at</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">
                                                Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                        <!-- This is where the data resides -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="history-table-container" class="mt-7">
                <div class="flex gap-2 items-center mb-2">
                    <h2 class="font-bold">History</h2>
                    <div data-loading
                        class="animate-spin inline-block size-4 border-[3px] border-current border-t-transparent text-blue-600 rounded-full dark:text-blue-500"
                        role="status" aria-label="loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="flex flex-col">
                    <div class="-m-1.5 overflow-x-auto">
                        <div class="p-1.5 min-w-full inline-block align-middle">
                            <div class="border rounded-md overflow-auto max-h-[500px] relative">
                                <table class="min-w-full divide-y divide-gray-200 border-collapse">
                                    <thead
                                        class="bg-slate-50 sticky top-0 z-10 after:content-[''] after:block after:absolute after:-bottom-[0.5px] after:w-full after:border-b after:border-b-slate-200 after:z-20">
                                        <tr>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Name</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Email</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Status</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">RFID</th>
                                            <th scope="col"
                                                class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">
                                                Seen at</th>
                                        </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200">
                                        <!-- This is where the data resides -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <template>
            <tr class="bg-green-50">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">
                    ${data.name}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">${
                    data.email
                    }</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">${
                    data.phone
                    }</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">${
                    data.rfid ? data.rfid.tag_id : "-"
                    }</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">${
                    data.status.name
                    }</td>
                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium flex gap-2">
                    <button type="button" data-role="edit-button"
                        class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none">Edit</button>
                    <span>|</span>
                    <button type="button" data-role="delete-button"
                        class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-red-600 hover:text-red-800 disabled:opacity-50 disabled:pointer-events-none">Delete</button>
                </td>
            </tr>
        </template>
    </div>
    <script src="/js/home.js"></script>
    <script src="/js/preline/preline.js"></script>
</body>

</html>